**Заказ оплачен**

**ID События:** {{.EventUUID}}
**ID Заказа:** {{.OrderUUID}}
**Поьзователь:** {{.UserUUID}}

{{- if .PaymentMethod}}
*Способ оплаты:** {{.PaymentMethod}}
{{- end}}

{{- if .TransactionUUID}}
**Транзакция:** {{.TransactionUUID}}
{{- end}}
